<dialog id="deleteDialog">
    <form>
        <div>
            <h2 class="title">Delete Folder</h2>
            <button id="exitDeleteDialog">
                <img src="/assets/icons/close.svg" alt="close">
            </button>
        </div>
        <p>Are you sure to delete this folder ? </p>
        <div class="btns">
            <button id="cancelDelete" type="button">cancel</button>
            <a href=<%=`/folders/delete/${folderid}`%> class="dialog-submit-btn">delete</a>
        </div>
    </form>
</dialog>
