<dialog id="deleteDialog">
    <div>
        <button id="exitDeleteDialog">X</button>
        <p>Are you sure to delete this folder ? </p>
        <div class="btns">
            <button id="cancelDelete">cancel</button>
            <a href=<%=`/folders/delete/${folderid}`%>>delete</a>
        </div>
    </div>
</dialog>
