<%if(messages.error) {%>
    <ul>
        <%messages.error.forEach(msg => {%>
            <li><%= msg %></li>
        <%})%>
    </ul>
<%}%>

<%if(locals.errors) {%>
    <ul>
        <%errors.forEach(err=> {%>
            <li><%=err.msg%></li>
        <%})%>
    </ul>
<%}%> 