<ul>
    <%userFiles.forEach(file => {%>
        <%if( file.fileid ){%>
                <!-- files -->
                <li><a href=<%= `/files/${file.fileid}` %>><%= `${file.name}, ${file.size}, ${file.createdDate}` %></a></li>
            <%} else { %>
                <!-- folders -->
                <li><a href=<%= `/folders/${file.folderid}` %>><%= `${file.name}, ${file.size}, ${file.createdDate}` %></a></li>
        <%}%>                                    
    <%})%>                            
</ul>
                    