<div class="header">
    <div class="logo">
        <a href=<%=locals.isShared ? locals.sharedLink : '/' %>>
            <img src="/assets/icons/logo-full-brand.svg" alt="logo">
        </a>
    </div>

    <a href="/users/log-out" class="logOutLogo">
        <img src="/assets/icons/logout.svg" alt="log out">
        <div class="tooltip">Logout</div>
    </a>

    <script>
        const logout = document.querySelector('.logOutLogo')
        const tooltip = document.querySelector('.tooltip')

        logout.addEventListener('mouseover', ()=> {
            tooltip.style.opacity = '1'
        })

        logout.addEventListener('mouseout', ()=> {
            tooltip.style.opacity = '0'
        })
    </script>

</div>