<dialog id="newFolderDialog">
    <form action=<%=locals.newFolderHref || '/folders/new-folder'%> method="post">
        <div>
            <h2 class="title">New Folder</h2>
            <button type="button" id="exitNewFolderBtn">
                <img src="/assets/icons/close.svg" alt="close">
            </button>
        </div>
        <p>
            <label for="folderName">Name</label>
            <input type="text" id="folderName" name="folderName">
        </p>
        <button type="submit" class="dialog-submit-btn">Create Folder</button>
    </form>
</dialog>