<dialog id="newFolderDialog">
    <form action="/folders/new-folder" method="post">
        <button type="button" id="exitNewFolderBtn">X</button>
        <p>
            <label for="folderName">Name</label>
            <input type="text" id="folderName" name="folderName">
        </p>
        <button type="submit">Create Folder</button>
    </form>
</dialog>