<dialog id="shareFolderDialog">
    <form >
        <div>
            <h2 class="title">Share Folder</h2>
            <button type="button" id="exitShareDialogBtn">X</button>
        </div>
        <p>
            Generate a public link to share the current folder and its contents
        </p>

        <p>
            <input type="text"  disabled>
        </p>

        <div class="btns">
            <button id="cancelSharing" type="button">cancel</button>
            <a class="dialog-submit-btn">Generate a link</a>
        </div>
    </form>
</dialog>