<dialog id="shareFolderDialog">
    <form >
        <div>
            <h2 class="title">Share Folder</h2>
            <button type="button" id="exitShareDialogBtn">X</button>
        </div>
        <p>
            Generate a public link to share the current folder and its contents
        </p>

        <%if(messages.generatedLink) {%>
        <p>
            <input name="sharedLink" type="text" value="<%= messages.generatedLink ?? 'generated link here'%>" disabled/>
            <button id="copyLink" type="button">Copy Link</button>
            <script>
                const copyLinkBtn = document.querySelector('#copyLink')
                const link = document.querySelector('input[name=\'sharedLink\']');

                copyLinkBtn.addEventListener('click', async ()=> {
                    try {
                        await navigator.clipboard.writeText(link.value)
                        copyLinkBtn.textContent = 'Copied'
                    } catch (err) {
                        console.log('Failed to copy :', err)
                    }
                })
            </script>   
        </p>
        <%}%>

        <div class="btns">
            <button id="cancelSharing" type="button">cancel</button>
            <a class="dialog-submit-btn" href=<%=`/folders/share/${folderid}`%>>Generate a link</a>
        </div>
    </form>
</dialog>