<dialog id="shareFolderDialog">
    <form action=<%=`/folders/share/${folderid}`%> method="post">
        <div>
            <h2 class="title">Share Folder</h2>
            <button type="button" id="exitShareDialogBtn">
                <img src="/assets/icons/close.svg " alt="close">
            </button>
        </div>
        <p>
            Generate a public link to share the current folder and its contents
        </p>

        <div class="duration-section">
            <p class="duration-title">Duration</p>
            <div class="select-duration">
                <label class="custom-radio">
                    <input type="radio" name="duration" value="1" required>
                    1 hour
                </label>
                <label class="custom-radio">
                    <input type="radio" name="duration" value="4" required>
                    4 hours
                </label>
                <label class="custom-radio">
                    <input type="radio" name="duration" value="24" required>
                    1 day
                </label>
                <label class="custom-radio">
                    <input type="radio" name="duration" value="72" required>
                    3 days
                </label>
                <label class="custom-radio">
                    <input type="radio" name="duration" value="168" required>
                    1 week
                </label>
            </div>
            <p class="duration-note">Links will expire after the specified duration</p>
        </div>

        <!-- style for duration -->
        <script>
            const radios = Array.from(document.querySelectorAll('input[name="duration"]'))
            radios.forEach(radio=> {
                radio.addEventListener('change', (e) => {
                    radios.forEach(radioBtn => radioBtn.parentElement.classList.remove('clickedRadio'))
                    let btn = e.target
                    btn.parentElement.classList.add('clickedRadio')
                })
            })
        </script>

        <%if(messages.generatedLink) {%>
        <p>
            <input name="sharedLink" type="text" value="<%= messages.generatedLink ?? 'generated link here'%>" disabled/>
            <button id="copyLink" type="button">Copy Link</button>
            <script>
                const copyLinkBtn = document.querySelector('#copyLink')
                const link = document.querySelector('input[name=\'sharedLink\']');

                copyLinkBtn.addEventListener('click', async ()=> {
                    try {
                        await navigator.clipboard.writeText(link.value)
                        copyLinkBtn.textContent = 'Copied'
                    } catch (err) {
                        console.log('Failed to copy :', err)
                    }
                })
            </script>   
        </p>
        <%}%>

        <div class="btns">
            <button id="cancelSharing" type="button">cancel</button>
            <button class="dialog-submit-btn" type="submit">Generate a link</button>
        </div>
    </form>
</dialog>