<dialog id="shareFolderDialog">
    <form action=<%=`/folders/share/${folderid}`%> method="post">
        <div>
            <h2 class="title">Share Folder</h2>
            <button type="button" id="exitShareDialogBtn">X</button>
        </div>
        <p>
            Generate a public link to share the current folder and its contents
        </p>
        <p>
            <label for="duration">Duration</label>
            <select name="duration" id="duration">
                <option value="1">1 hour</option>
                <option value="4">4 hour</option>
                <option value="24">1 day</option>
                <option value="72">3 hour</option>
                <option value="168">1 week</option>
            </select>
        </p>

        <%if(messages.generatedLink) {%>
        <p>
            <input name="sharedLink" type="text" value="<%= messages.generatedLink ?? 'generated link here'%>" disabled/>
            <button id="copyLink" type="button">Copy Link</button>
            <script>
                const copyLinkBtn = document.querySelector('#copyLink')
                const link = document.querySelector('input[name=\'sharedLink\']');

                copyLinkBtn.addEventListener('click', async ()=> {
                    try {
                        await navigator.clipboard.writeText(link.value)
                        copyLinkBtn.textContent = 'Copied'
                    } catch (err) {
                        console.log('Failed to copy :', err)
                    }
                })
            </script>   
        </p>
        <%}%>

        <div class="btns">
            <button id="cancelSharing" type="button">cancel</button>
            <button class="dialog-submit-btn" type="submit">Generate a link</button>
        </div>
    </form>
</dialog>