<dialog id="newFileDialog">
    <form action=<%=locals.newFileHref || '/files/new-file'%> method="post" enctype="multipart/form-data">
        <button type="button" id="exitNewFileBtn">X</button>
        <input type="file" name="new-file">
        <%-include('errors')%>

        <button type="submit">Upload</button>
    </form>
</dialog>