<dialog id="newFileDialog">
    <form action=<%=locals.newFileHref || '/files/new-file'%> method="post" enctype="multipart/form-data">
        <div>
            <h2 class="title">New File</h2>
            <button type="button" id="exitNewFileBtn">X</button>
        </div>
    
        <p><input type="file" name="new-file"></p>

        <%-include('errors')%>

        <button type="submit" class="dialog-submit-btn">Upload</button>
    </form>
</dialog>   