<html>
    <head>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/authforms.css">
        <title><%=locals.title || "Log In"%></title>
    </head>
    <body>  
        
        <section class="main">
            <aside class="intro-container">
                <div class="logo-container">
                    <div class="logo">
                        <img src="/assets/icons/logo-full.svg" alt="logo">
                    </div>
                </div>

                <div class="intro">
                    <p class="title">Manage your files the best way</p>
                    <p class="caption">Awesome , we've created the perfect project to show you how good we are at our work</p>
                </div>

                <div class="big-files-logo">
                    <img src="/assets/images/files.png" alt="big icon"></img>
                </div>
            </aside>

            <div class="auth-container">
                <div class="auth">
                    <form method="post" action="/users/log-in">
                        <h2 class="title">Log in</h2>
                        <p>
                            <label for="username">Username</label>
                            <input type="email" 
                            id="username" 
                            name="username" 
                            placeholder="Enter your email">
                        </p>
                        <p>
                            <label for="password">Password</label>
                            <input type="password" 
                            id="password" 
                            name="password"
                            placeholder="Enter your password">
                        </p>
                        <%if(messages.error) {%>
                            <%-include('partials/errors')%>
                        <%}%>
                        <button type="submit" class="formBtn">Login</button>
                        <p>
                            Don't have an account yet? <a href="/users/sign-up">Sign up</a>
                        </p>
                    </form>
            </div>
            </div>
        </section>

    </body>
</html>