<html>
    <head>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/authforms.css">
        <title><%=locals.title || "Log In"%></title>
    </head>
    <body>  
        
        <%-include('partials/header')%>

        <section class="main">
            <div class="container">
                    <form method="post" action="/users/log-in">
                        <h2 class="title">Log in</h2>
                        <p>
                            Don't have an account yet? <a href="/users/sign-up">Sign up</a>
                        </p>
                        <p>
                            <label for="username">Username</label>
                            <input type="email" id="username" name="username">
                        </p>
                        <p>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </p>
                        <%if(messages.error) {%>
                            <%-include('partials/errors')%>
                        <%}%>
                        <button type="submit" class="formBtn">Log in</button>
                    </form>
            </div>
        </section>
    </body>
</html>