<html>
    <head>
        <title>dome</title>
    </head>
    <body>
        <%-include('partials/header')%>
        
        <%if (locals.user) {%>
            <h1><%= user.username%></h1>
        <%}%>            
    </body>
</html>