

.main {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.3fr 0.7fr;

    background-color: var(--white-clr);
}

a {
    color: var(--brand-2-clr);
    text-decoration: none;
}

.intro-container {
    color: var(--white-clr);
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    padding: 5rem 3rem;

    background-color: var(--brand-clr);
}

.logo-container {
    display: flex;
    gap: 32px;
    align-items: center;
}


.intro .title {
    font-size: var(--font-sz-h1);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

.intro .caption {
    font-size: var(--font-sz-subtitle);
    font-weight: 400;
}

.big-files-logo {
    display: flex;
    justify-content: center;
}

.big-files-logo > img {
    width: 60%;
}

/* style for auth container */

.auth-container {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.auth {
    width: 70%;
}

.auth form {
    width: 100% ;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.auth .title {
    font-size: var(--font-sz-h1);
    font-weight: 700;
    margin-bottom: 12px;
}



.auth p {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: 8px;
    gap: 8px;

    box-shadow :0 20px 25px -5px rgb(0 0 0 / 0.1);
} 

.auth form p:last-of-type {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    box-shadow: none;
}

.auth input {
    border: none;
    outline: none;

    font-size: 1em;
}

.auth label {
    font-size: 1em;
}

.auth .formBtn {
    border: none;
    outline: none;
    padding: 20px 0;
    border-radius: 24px;
    background-color: var(--brand-2-clr);
    color: var(--white-clr);

    box-shadow :0 20px 25px -10px rgb(0 0 0 / 0.3);
    font-size: var(--font-sz-h3);
    font-weight: 600;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.auth .formBtn:hover {
    background-color: var(--brand-clr);
} 

