

.main {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.3fr 0.7fr;

    background-color: var(--white-clr);
}

.intro-container {
    color: var(--white-clr);
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    padding: 5rem 3rem;

    background-color: var(--brand-clr);
}

.logo-container {
    display: flex;
    gap: 32px;
    align-items: center;
}


.intro .title {
    font-size: var(--font-sz-h1);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

.intro .caption {
    font-size: var(--font-sz-subtitle);
    font-weight: 400;
}

.big-files-logo {
    display: flex;
    justify-content: center;
}

.big-files-logo > img {
    width: 60%;
}

/*  */
.main > * {
    border: 1px solid black;
}