@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');

    font-size: normal;
    font-weight: normal;  
}

* {
    font-family: 'Roboto';
    --main-clr: #0a0a0c;
    --txt-clr: rgb(232, 232, 236);
    --second-clr: #40a9ff6b;
    --border-clr: #818181c5;
    box-sizing: border-box;
}

/* header styles */
.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem;
    border-bottom: 1px solid var(--border-clr);
}

.header a {
    text-decoration: none;
    color: var(--txt-clr);
} 

.logo {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

.authBtns {
    display: flex;
    gap: 32px;
}

.authBtns  a {
    padding: 0.8rem;
    background-color: #2c2c2c8f;
    border: var(--border-clr) 0.5px solid;
}

.authBtns a:hover {
    background-color: var(--second-clr);
    border: var(--second-clr) 0.5px solid;
    box-shadow: 0 0 15px var(--second-clr);
}

