@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-latin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-size: normal;

}

@font-face {
    font-family: 'Poppins';
    src :url('/fonts/poppins-latin-700-normal.ttf') format('truetype')   ;   
    font-size: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-latin-600-normal.ttf') format('truetype');
    font-size: normal;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* fonts */
    --font-sz-h1: 40px;
    --font-sz-h2: 24px;
    --font-sz-h3: 20px;

    --font-sz-subtitle: 14px;
    --font-sz-caption: 12px;
    --font-sz-btn: 16px;

    /* Colors */
    --brand-clr: #FA7275;
    --brand-2-clr: #EA6365;
    --white-clr: #ffffff;
    --main-content-clr: #F2F4F8;
    --placeholder-clr: #a3b2c7;
    --err-clr: #B80000;
    

    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}

/* for forms errors */

ul.errors {
    list-style: none;
    color: var(--err-clr);
    font-size: 13px;
}

.invalid-input {
    border: 1px solid var(--err-clr);
}

/* for header */

.header {
    display: flex;
    padding: 1rem 1.8rem ;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 160px;
}

.header .logOutLogo img{
    width: 32px;
}

.tooltip {
    padding: 6px;
    width: auto;
    height: auto;
    background-color: var(--brand-clr);
    color: var(--white-clr);
    border-radius: 8px;
    position: absolute;
    transform: translate(-25%, 20%);

    opacity: 0;
    transition: opacity 0.2s ease;
}



