
a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--white-clr);
}

.main {
    --box-shdw: 0 20px 25px -5px rgb(0 0 0 / 0.1);
    flex: 1;
    display: grid;
    
    grid-template-columns: 20% 1fr;
    overflow-y: hidden;
    /* for dialog forms */
    position: relative;
}

/* left side style */
.left-side {
    padding: 2rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-btns {
    display: grid;
    grid-auto-rows: 48px;
    gap: 12px;
}

.nav-btns .btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0 20%;
    font-size: var(--font-sz-btn);
    font-weight: 600;
    border-radius: 24px;

    transition: 
        filter 0.2s ease, 
        background-color 0.2s ease, 
        box-shadow 0.2s ease ;
    cursor: pointer;
}

.hoveredBtn , 
.btn:hover {
    background-color: var(--brand-clr);
    color: var(--white-clr);
    box-shadow: var(--box-shdw);
    filter: brightness(120%);
}

.nav-btns .btn img {
    width: 32px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.big-files-logo {
    display: flex;
    justify-content: center;
}

.about .big-files-logo img{
    width: 80%;
}

.about .info {
    text-align: center;
}

.about .info span {
    font-size: var(--font-sz-subtitle);  
}

.about  .info a {
    color: var(--brand-2-clr);
}

/* main-content style */
.main-content {
    --border-radius-val: 24px;
    background-color: var(--main-content-clr);
    margin-right: 32px;
    padding: 1rem;

    border-radius: var(--border-radius-val);
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 5% 25% 1fr;
    gap: 32px;
}

.navigation-state p a:first-child {
    color: var(--brand-2-clr);
}

.message-no-files {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.files-container {
    background-color: var(--white-clr);
    border-radius: var(--border-radius-val);
}

.ul-files-folders {
    padding: 2rem ;
    list-style: none;

    display: grid;
    grid-auto-rows: 70px;
    row-gap: 8px;
}

.ul-files-folders .file {
    height: 100%;
    padding: 0 1rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--border-radius-val);
    transition: background-color 0.2s ease;
}

.ul-files-folders .file:hover {
    background-color: var(--main-content-clr);
}


.file .file-content {
    display: grid;
    grid-template-columns: 55px 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 8px;
}

.file-content .icon {
    grid-row: 1 / span 2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-content .name {
    font-size: var(--font-sz-btn);
    font-weight: 600;
}

.file-content .date {
    font-size: var(--font-sz-subtitle);
    color: var(--placeholder-clr);
    font-weight: 600;
}

/* available storage */

.storage {
    width: 550px;
    display: flex;

    background-color: var(--brand-clr);
    box-shadow: var(--box-shdw);
    border-radius: 24px;
}

.storage > * {
    flex: 1;
}

.circular {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;  
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;

    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-clr);

    font-size: 1em;
    font-weight: 600;
}

.inner .number {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.storage svg {
    position: absolute;
    transform: rotate(125deg);
}

.main-circle , 
.gap-circle {
    fill: none;
    stroke: var(--white-clr);
    stroke-width: 20px;
    /* 100% => 503 */
    stroke-dasharray: 503;
    /* for the empty in the bottom */
    stroke-dashoffset: 150;
}

.main-circle {
    /* ((353 * percent?) / 100) + 150 */
    stroke-dasharray: 414.75;
}

.gap-circle {
    stroke: rgba(255, 255,255, 0.2);
}

.available-storage {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white-clr);
}

/* dialogs style */

.main dialog[open] {
    --box-shdw: 0px 10px 25px -5px rgb(0 0 0 / 0.2);
    --border-radius-val: 24px;
    width: 400px;
    min-height: 280px;
    position: absolute;
    margin: 0;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: var(--border-radius-val);
    background-color: var(--white-clr);
    color: #000;
}

.main dialog[open]::backdrop {
    opacity: 0.5;
}

dialog a {
    text-decoration: none;
}

dialog form {
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

dialog form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

dialog form p {
    display: flex;
    flex-direction: column;
    gap: 4px ;
    font-size: 1.3em;
}

p input, 
.input-file label {
    margin-top: 12px;
    height: 56px;
    border: 1px solid var(--border-clr);
    border-radius: var(--border-radius-val);
    outline: none;
    padding: 8px 14px;

    font-size: 0.9em;
    background-color: var(--white-clr);
    color: #000;
    box-shadow: var(--box-shdw);
}

input:focus {
    box-shadow: var(--box-shdw);
}

/* for file input */
.input-file {
    position: relative;
    cursor: pointer;
}

.input-file label {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;

    overflow: hidden;
}

.input-file label::after {
    content: 'Browse';
    position: absolute;
    height: 100%;
    width: 72px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    background-color: #ccc;
}

.input-file input {
    opacity: 0;
}

.dialog-submit-btn , 
#copyLink{
    padding: 16px;
    border-radius: var(--border-radius-val);
    border: none;
    outline: none;
    background-color: var(--brand-clr);
    color: var(--white-clr);
    font-size: 1em;
    font-weight: 600;
    box-shadow: var(--box-shdw);
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}


#copyLink {
    margin-top: 8px;
    padding: 8px 16px;
    font-size: 0.9em;
}

.dialog-submit-btn:hover , 
#copyLink:hover {
    box-shadow: none;
    transform: scale(102%);
}

dialog div > button , 
.head .closeSide {
    --size-val: 32px;
    border: none;
    outline: none;
    height: var(--size-val);
    width: var(--size-val);
    border-radius: 50%;
    cursor: pointer; 
}

dialog div > button img, 
.head .closeSide img {
    width: 80%;
}

/* for file operations dialog */
dialog#file-operations , 
dialog#file-details {
    height: 300px;
    width: 300px;
    top: 55vh;
}

dialog#file-operations > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em ;
}

dialog#file-operations .file-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

.file-name button {
    outline: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
}

dialog#file-operations .operations {
    flex: 1;
    padding:8px;
}

.operations ul {
    list-style: none;
    display :grid;
    grid-auto-rows: 1fr;
    height: 100%;
}

.operations ul li {
    display: flex;
}

.operations ul li + li {
    border-top: 1px solid #ddd;
}

.operations ul li button, 
.operations ul li a {
    flex: 1;
    font-size: var(--font-sz-btn);
    background-color: var(--white-clr);

    display: flex;
    align-items: center;
    gap: 8px ;
    cursor: pointer;

    transition: background-color 0.2s ease;
} 

.operations ul li button {
    border: none;
    outline: none;
}

.operations li:hover button,  
.operations li:hover a  {
    background-color: var(--main-content-clr);
}


input[type = 'file'] {
    border: none;
    cursor: pointer;
}

dialog .btns {
    justify-self: flex-start;
    display: flex;
    justify-content: space-around;
}

/* style file details dialog */
dialog#file-details > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 16px;
}

dialog#file-details .head {
    width: 70%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4px;
}

dialog#file-details .head p {
    font-size: 1.4em;
    font-weight: 600;
}

dialog#file-details .details {
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

dialog#file-details .name-container {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 14px;
}

dialog#file-details .name-container .date {
    color: #A3B2C7;
}

dialog#file-details .inner-details ul {
    list-style-type: none;
    display: grid;
    row-gap: 12px;
}

dialog#file-details .inner-details ul  li {
    display: grid;
    grid-template-columns: 45% 1fr;
    align-items: center;
}

dialog#file-details .inner-details ul  li p {
    color: #333F4E;
    font-size: var(--font-sz-subtitle);
}


#cancelDelete, 
#cancelSharing, 
#cancelShareFileBtn {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #2c2c2c8f;
    border: var(--border-clr) 0.5px solid;

    margin-top: 32px;
}

/* style for share dialog */

#shareFolderDialog .select-duration, 
#shareFileDialog .select-duration {
    box-sizing: border-box;
    height: 42px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 2px;

    background-color: var(--border-clr);
    border: 1px solid var(--border-clr);
}

/* hide the radion circle */
.custom-radio input {
    opacity: 0;
    transform: translateY(-15%);
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.custom-radio {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;

    background-color: hsl(240 5.1% 15%);
    transition: background-color 0.2s ease;
}

.custom-radio:hover{
    background-color: var(--second-clr);
    color: var(--main-clr);
}

.clickedRadio {
    background-color: var(--second-clr);
    color: var(--main-clr);
}

.duration-title {
    margin-bottom: -15px;
}

.duration-note {
    margin-top: -15px;
    font-size: 0.9em;
    color: var(--txt-clr);
}

/* style file details container */

aside {
    background-color: hsl(240 5.1% 15%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
    transform: scaleX(0);
    transform-origin: right;
    overflow-x: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.3s ease;
}

aside .head {
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
} 

aside .head h2 {
    font-weight: 400;
    color: white;
} 

aside .btns {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

aside .btns  a , 
aside .btns button {
    color: var(--txt-clr);
    padding: 0.8rem;
    background-color: #2c2c2c8f;
    border: var(--border-clr) 0.5px solid;
    cursor: pointer;

    font-size: 1em;
    border-radius: 4px;
}

aside .btns a:hover , 
aside .btns button:hover {
    background-color: var(--second-clr);
    border: var(--second-clr) 0.5px solid;
    box-shadow: 0 0 15px var(--second-clr);
}

#downloadBtn {
    background-color: var(--second-clr);
    border: var(--second-clr);
}




